.profile{
    width: 100%;
    min-height: 100vh;
    background-image: url(./back-image.png);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 140px;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 30px;
    color: #fff;
    background-image: linear-gradient(45deg,#df4881,#c430d7);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s all ease-in-out;
}

.content{
    margin-top: 10%;
    max-width: 600px;
}

.content h1{
    font-size: 65px;
    color: #222;

}
.content p{
    margin: 10px 0 30px;
    color: #333;
    line-height: 1.8;
    animation-delay: 0.5s;
}

.content .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 1s;
}

.btn:hover{
    border-top-right-radius: 30px;
}

.feature-img{
    width: 440px;
    position: absolute;
    bottom: 0;
    right: 10%;
}

.feature-img.anim{
    animation-delay: 1.1s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* Adjustments for smaller screens */
@media screen and (max-width: 768px) {
    .content {
        margin-top: 5%; /* Reduce margin-top */
        max-width: 80%; /* Reduce max-width */
        text-align: center; /* Center align content */
    }

    .content h1 {
        font-size: 45px; /* Decrease font size for smaller screens */
    }

    .content .btn {
        padding: 12px 50px; /* Reduce padding for smaller screens */
    }

    .feature-img {
        width: 100%; /* Make the image take full width */
        position: static; /* Reset position */
        margin-top: 20px; /* Add some space between content and image */
    }

    .logo {
        width: 100px; /* Decrease logo size for smaller screens */
    }

    nav ul li {
        margin: 10px 10px; /* Adjust margin for smaller screens */
    }
}

/* Adjustments for extra small screens */
@media screen and (max-width: 480px) {
    .content h1 {
        font-size: 36px; /* Further decrease font size for extra small screens */
    }

    .content .btn {
        padding: 10px 40px; /* Further reduce padding for extra small screens */
    }

    .feature-img {
        margin-top: 10px; /* Adjust margin for extra small screens */
    }
}
